.hero {
  background-color: rgb(126, 127, 189);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .hero h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1em;
  }
  


  
  