
.countryButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; /* Add space below the buttons */
}
.countryButton {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.countryButton:hover {
  background-color: darkgrey;
}
.selectedCountry {
  border-radius: 8px;
  background-color: rgb(126, 127, 189); /* Orange color when selected */
  color: white;
}