.how-it-works {
    text-align: center;
    padding: 10px 0;
  }
  
  .how-it-works h3 {
    font-size: 1.em;
    margin-bottom: 20px;
    
  }
  
  .step {
    margin-bottom: 30px;
    text-align: center;
  }

  .call{
    color: red;
    text-align: center;

  }

  .text{
    text-align: center;
  }

  .HowItWorks{
    text-align: center;
  }