.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.tileImage {
  max-height: 200px; /* Use max-height to maintain aspect ratio */
  width: auto; /* Adjust width automatically */
  object-fit: cover; /* Ensure the image covers the area without losing aspect ratio */
}

@media (min-width: 1024px) {
  .tile {
    width: 30%;
    margin: 0 15px; /* Add some horizontal margin */
  }
  .tileImage {
    max-height: 300px; /* Larger images on wider screens */
  }
}