/*Set the colour for error and success messages*/
.error {
    color: rgb(194, 53, 53);
}

.success {
    color: rgb(23, 132, 61);
}

/*Form styling*/
.legend {
    padding: 30px;
}

.text {
    background-color: white;
    border-color: white;
    box-shadow: none;
    outline: none;
    padding: 30px;
    width: 75%;
    margin-bottom: 20px;
}

.button {
    border-radius: 8px;
    background-color: rgb(126, 127, 189);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}