
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.wrapper {
  max-width: 375px; 
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}

/* @media (min-width: 768px) {
  .item {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .item {
    width: calc(50% - 1rem);
  }
} */